/* Main Style */

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: 'MuseoSans';
    src: url('fonts/museosans_300-webfont.eot');
    src: url('fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_300-webfont.woff') format('woff'),
         url('fonts/museosans_300-webfont.ttf') format('truetype'),
         url('fonts/museosans_300-webfont.svg#MuseoSans300Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('fonts/museosans_500-webfont.eot');
    src: url('fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_500-webfont.woff') format('woff'),
         url('fonts/museosans_500-webfont.ttf') format('truetype'),
         url('fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans_Thin';
    src: url('fonts/museosans_100-webfont.eot');
    src: url('fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_100-webfont.woff') format('woff'),
         url('fonts/museosans_100-webfont.ttf') format('truetype'),
         url('fonts/museosans_100-webfont.svg#MuseoSans100') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Root Element - Start */
html{
    font-size: 8px;
    cursor: default;
}

/* Body - Start */
body{
    font-family: 'Oswald', sans-serif;
    color: #212121;
    background-color: #212121;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/*#f2efe8*/
/* Container - Start */
.container{
    display: flex;
    flex-direction: column;
}

/** Header - Start **/
header{
    display: flex;
    flex-direction: column;
    background-image: url(images/header-bg-1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #212121;
    background-blend-mode: color-dodge;
}
.logo{
    margin-right: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/logo.png);
    height: 20rem;
    width: 30rem;
    margin-left: 5rem;
    margin-top: 5rem;
}
@keyframes view{
    from{opacity:0.3}
    to{opacity:1}
}
.name{
    color: #569af6;
    font-size: 15rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 8rem auto;
    padding: 2rem;
    animation: view 3s;
    text-decoration: none;
    text-shadow: 1rem 2rem 1rem #212121;
}
a.name:visited{
    color: #1976D2;
}
.name span{
    color: #ff5722;
    font-family: serif;
    font-style: italic;
}
.opener{
    position: fixed;
    top: 7rem;
    left: 7rem;
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    z-index: 6;
    cursor: pointer;
    background-image: url(images/three.svg);
    background-size: contain;
}
.menu{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10rem;
    justify-content: space-between;
    background-color: #212121;
    z-index: 5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    padding: 2rem;
    justify-content: center;
    z-index: 5;
    border: 1px solid #424242;
    background-color: #212121;
}
.menu a{
    color: #FF5722;
    font-size: 2rem;
    font-weight: normal;
    padding: 2rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 3px;
}
.menu a:visited{
    color: #FF5722;
}
.menu a:hover{
    background-color: #424242;
}
.mobile-menu a{
    color: #FF5722;
    font-size: 2rem;
    font-weight: normal;
    padding: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}
.mobile-menu a:visited{
    color: #FF5722;
}
.mobile-menu a:hover{
    background-color: #424242;
}
.down{
    margin: 5rem auto;
    border: 1px solid #424242;
    border-radius: 40%;
    width: 5rem;
    height: 5rem;
    background-image: url(images/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: background-color 0.5s ,opacity 0.5s;
    cursor: pointer;
}
.down:hover{
    background-color: #212121;
    opacity: 0;
}
/** Header - End **/

/** Section - Start **/
section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    opacity: 1;
}
.content h1{
    font-size: 4rem;
    color: #ff5722;
    padding: 2rem;
    margin-top: 4rem;
    border-bottom: 0.25rem solid #424242;
}
.content p{
    font-size: 2.5rem;
    color: #E8EAF6;
    text-align: center;
    padding: 2rem;
    line-height: 3.5rem;
    font-family: 'Oswald',sans-serif;
    font-weight: 300;
}
.card-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'MuseoSans',sans-serif;
    width: 35rem;
    min-width: 35rem;
    min-height: 40rem;
    margin: 4rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.25rem solid #212121;
    background-color: #424242;
    box-shadow: inset 0 0 1rem #212121;
    transition: background-color 0.5s, box-shadow 0.5s, border 0.5s;
}
.card:hover{
    background-color: transparent;
    box-shadow: none;
    border: 0.25rem solid #424242;
}
.card div{
    display: flex;
    margin: auto;
    border: 0.25rem solid #424242;
    background-color: none;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 20rem;
}
.card div img{
    height: 20rem;
    width: 20rem;
    margin: auto;
}
.card h2{
    font-size: 3rem;
    color: #FF5722;
    padding: 1rem;
    text-align: center;
}
.card p{
    font-size: 2rem;
    color: #1976D2;
    margin: auto;
    padding: 1rem;
    text-align: justify;
}
.card p a{
    display: inline-block;
    font-size: 3rem;
    color: #E8EAF6;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    text-align: center;
    border-radius: 50%;
}
.fb{
  background-image: url(images/facebook.svg);
  background-size: contain;
  background-position: center;
}
.gplus{
  background-image: url(images/gplus.svg);
  background-size: contain;
  background-position: center;
}
.circle{
    min-height: 40rem;
    border-color: #212121;
}
.stretch{
  align-items: stretch;
}
.hover-card{
    display: flex;
    width: 30rem;
    min-width: 30rem;
    height: 25rem;
    margin: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #212121;
    border-radius: 2rem;
}
.hover-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    background-color: #424242;
    transition: opacity 0.5s;
    border-radius: 1rem;
    box-shadow: inset 0 0 1rem #212121;
}
.hover-card div:hover{
    opacity: 1;
}
.hover-card div h2{
    font-size: 3rem;
    text-align: center;
    color: #FF5722;
}
.hover-card div p{
    font-size: 2rem;
    text-align: center;
    color: #E8EAF6;
}
.social{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.social a{
    width: 10rem;
    height: 10rem;
    margin: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.join-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E8EAF6;
}
.join-form input , textarea{
    font-size: 2.5rem;
    padding: 1rem;
    height: 5rem;
    width: 80%;
    margin: 2rem;
    color: #E8EAF6;
    border: 2px dashed #212121;
    background-color: #424242;
}
.join-form textarea{
    height: 15rem;
}
.join-form input[type=submit]{
    width: 20%;
    color: #FF5722;
}
.join-form input[type=radio]{
    width: auto;
}
.join-form span{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
/** Section - End **/

/** Footer - Start **/
footer{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    font-size: 2rem;
    background-color: #FF5722;
    color: #FFFFFF;
}
/** Footer - End */

/* Container - End */

/* Body - End */

/* Root Element - End */
/* Media Rules For X-Small Devices */
@media (max-width:300px){
    html{
        font-size: 5px;
    }
    body{

    }
    .logo{
        margin: auto;
    }
    .menu{
        display: none;
    }
    .mobile-menu{

    }
}
@media (max-width:300px) and (orientation:landscape){
    body{

    }
}
/* Media Rules For X-Large Devices */
@media (min-width:2400px){
    html{
        font-size: 12px;
    }
    body{

    }
    .logo{
        margin: auto;
    }
}
@media (min-width:2400px) and (orientation:landscape){
    body{

    }
}
/* Media Rules For XX-Large Devices */
@media (min-width:2400px) and (min-height:1200px){
    body{

    }
}
@media (min-width:2400px) and(min-height:1200px) and (orientation:landscape){
    body{

    }
}

/* Local Media Rules */

/* Media Rules For Mobile Devices */
@media (min-width:301px) and (max-width:600px){
    html{
        font-size: 6px;
    }
    body{

    }
    .logo{
        margin: auto;
    }
    .name{
        font-size: 8rem;
    }
    .menu{
        display: none;
    }
    .mobile-menu{

    }
}
@media (min-width:301px) and (max-width:600px) and (orientation:landscape){
    body{

    }
}
/* Media Rules For Tablet Devices */
@media (min-width:601px) and (max-width:1000px){
    html{
        font-size: 7px;
    }
    body{

    }
}
@media (min-width:601px) and (max-width:1000px) and (orientation:landscape){
    body{

    }
}
/* Media Rules For Desktop Devices */
@media (min-width:1001px) and (max-width:1400px){
    body{

    }
}
/* Media Rules For Large Devices */
@media (min-width:1401px) and (max-width:2400px){
    html{
        font-size: 10px;
    }
    body{

    }
    .logo{
        margin: auto;
    }
}
